@use "./mixins";

$border-radius: (
  "0": 0,
  "3": 3px,
  "5": 5px,
  "50p": 50%
);

$borders: (
  "1s": 1px solid,
  "2s": 2px solid,
  "3s": 3px solid
);

$border-styles: (
  "d": dashed,
  "dd": dotted,
  "de": double,
  "g": groove,
  "i": inset,
  "o": outset,
  "h": hidden,
  "u": unset,
);

@include mixins.create_class("br", "border-radius", $border-radius);
@include mixins.create_class("btlr", "border-top-left-radius", $border-radius);
@include mixins.create_class("btrr", "border-top-right-radius", $border-radius);
@include mixins.create_class("bblr", "border-bottom-left-radius", $border-radius);
@include mixins.create_class("bbrr", "border-bottom-right-radius", $border-radius);
@include mixins.create_class("b", "border", $borders);
@include mixins.create_class("bs", "border-style", $border-styles);
