@use "./mixins";
@use "./space";

$flex-values: (
  "1": 1,
  "2": 2,
  "3": 3,
  "4": 4,
  "50p": 50%,
  "100p": 100%,
  "00a": 0 0 auto,
  "01a": 0 1 auto,
  "10a": 1 0 auto,
  "11a": 1 1 auto
);

$align-values: (
  "c": center,
  "b": baseline,
  "e": end,
  "s": stretch,
  "fs": flex-start,
  "fe": flex-end,
  "sa": space-around,
  "sb": space-between,
  "se": space-evenly
);

.row {
  align-items: center;
  display: flex;
}

.col {
  display: flex;
  justify-content: center;
}

@include mixins.create_class("f", "flex", $flex-values);
@include mixins.create_class("ai", "align-items", $align-values);
@include mixins.create_class("ac", "align-content", $align-values);
@include mixins.create_class("as", "align-self", $align-values);
@include mixins.create_class("ji", "justify-items", $align-values);
@include mixins.create_class("jc", "justify-content", $align-values);
@include mixins.create_class("js", "justify-self", $align-values);
@include mixins.create_class("g", "gap", space.$spaces);
