$flex-values: (
  "1": 1,
  "2": 2,
  "3": 3,
  "4": 4,
  "50p": 50%,
  "100p": 100%,
  "00a": 0 0 auto,
  "01a": 0 1 auto,
  "10a": 1 0 auto,
  "11a": 1 1 auto
);

$align-values: (
  "c": center,
  "b": baseline,
  "e": end,
  "s": stretch,
  "fs": flex-start,
  "fe": flex-end,
  "sa": space-around,
  "sb": space-between,
  "se": space-evenly
);

@mixin set_flex_properties($style, $property, $values) {
  @each $key, $value in $values {
    .#{$style}#{$key} {
      #{$property}: #{$value};
    }
  }
}

.row {
  align-items: center;
  display: flex;
}

.col {
  display: flex;
  justify-content: center;
}

@include set_flex_properties("f", "flex", $flex-values);
@include set_flex_properties("ai", "align-items", $align-values);
@include set_flex_properties("ac", "align-content", $align-values);
@include set_flex_properties("as", "align-self", $align-values);
@include set_flex_properties("ji", "justify-items", $align-values);
@include set_flex_properties("jc", "justify-content", $align-values);
@include set_flex_properties("js", "justify-self", $align-values);
