@use "./utils";
@use "./styles";

// Basic global css

html * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Margins
@include styles.set_space("ml", "margin-left", utils.get_spaces());
@include styles.set_space("mr", "margin-right", utils.get_spaces());
@include styles.set_space("mt", "margin-top", utils.get_spaces());
@include styles.set_space("mt", "margin-bottom", utils.get_spaces());
@include styles.set_space("mi", "margin-inline", utils.get_spaces());

// Paddings
@include styles.set_space("pl", "padding-left", utils.get_spaces());
@include styles.set_space("pr", "padding-right", utils.get_spaces());
@include styles.set_space("pt", "padding-top", utils.get_spaces());
@include styles.set_space("pt", "padding-bottom", utils.get_spaces());
@include styles.set_space("pi", "padding-inline", utils.get_spaces());

// Flex

// Grid
